
<div style="width: 600px;height: 300px; position: relative;">
    <div>
        <h3>Delete Account</h3>
        <br>
        <p>Do you want to delete your account?</p>
        <br>
        <p style="color: red;">This is a hard delete that cannot be reversed. It includes all associated Sets.
            Please click Delete to confirm delete.</p>
    </div>
    <br>
    <br>
    <div style="position: absolute; bottom: 0px">
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" color="warn">Delete</button>
    </div>
</div>