
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control{
    width: 40%;
    min-width: 150px;
    max-width: 500px;
  
}
#Header{
    display: flex;
    justify-content:flex-start;
    
}