<div *ngIf="isLoading" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div id="Header" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
    <div style="width: 33%; display: flex;flex-direction: row; align-items: center;justify-content: flex-start;">

        <button routerLink="/stakeholdersUser" mat-icon-button aria-label="Example icon button with a home icon">
            <mat-icon style="font-size: 22px;">keyboard_arrow_left</mat-icon>
        </button>
        <h3>StackHolder Specification Tool</h3>
    </div>
    <h2 style="text-align: center;width: 33%;">Edit Objective</h2>
</div>
<div id="body" style="text-align: center;">
    <div>
        <mat-error [hidden]="!Error" style="font-size: 13px;align-items: center;">
            <span>{{Error}}</span>
            <br>
        </mat-error>
        <mat-error [hidden]="!Error2" style="font-size: 13px;align-items: center;">
            <span>{{Error2?.error?.error}}</span>
        </mat-error>
        <br>
    </div>
    <form class="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="control" appearance="fill">
            <mat-label>Objective Name</mat-label>
            <textarea matInput type="text" [formControl]="setName" placeholder="My Objective" maxlength="40" rows="1"
                cols="40"></textarea>
            <mat-error *ngIf="setName?.hasError('required')">
                Objective Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="control" appearance="fill">
            <mat-label>Objective Description</mat-label>
            <textarea matInput type="text" [formControl]="Description" placeholder="My Objective Description..." rows="10"
                cols="50" maxlength="500"></textarea>
            <mat-error *ngIf="Description?.hasError('required')">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <div style="display: flex;flex-direction: row; justify-content: space-between;">
            <button routerLink="/objectivesUser" mat-button>Cancel</button>
            <button class="submit-button" mat-raised-button type="submit" color="primary">Update Objective</button>

        </div>

    </form>
</div>