<div *ngIf="isLoading" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div id="Header" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
    <div style="width: 33%; display: flex;flex-direction: row; align-items: center;justify-content: flex-start;">

        <button (click)="goToStakeholderObjective()" mat-icon-button aria-label="Example icon button with a home icon">
            <mat-icon style="font-size: 22px;">keyboard_arrow_left</mat-icon>
        </button>
        <h3>StackHolder Specification Tool</h3>
    </div>
    <h2 style="text-align: center;width: 33%;">Add {{addType}}</h2>
</div>
<div id="body" style="text-align: center;">
    <div>
        <mat-error [hidden]="!Error" style="font-size: 13px;align-items: center;">
            <span>{{Error}}</span>
            <br>
        </mat-error>
        <mat-error [hidden]="!Error2" style="font-size: 13px;align-items: center;">
            <span>{{Error2?.error?.error}}</span>
        </mat-error>
        <br>
    </div>
    <form class="form" (ngSubmit)="onSubmit()">

        <mat-form-field [hidden]="!isCrudSet" class="control" appearance="fill">
            <mat-label>Select Set</mat-label>
            <mat-select [formControl]="Sets" required>
                <mat-option>Select Set</mat-option>
                <mat-option *ngFor="let set of setList" [value]="set">
                    {{set.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="setName.hasError('required')">Please choose an Set</mat-error>
            <mat-hint>{{setName.value?.sound}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="control" appearance="fill">
            <mat-label>{{addType}} Name</mat-label>
            <textarea matInput type="text" [formControl]="setName" placeholder="My {{addType}}" maxlength="40" rows="1"
                cols="40"></textarea>
            <mat-error *ngIf="setName?.hasError('required')">
                {{addType}} Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="control" appearance="fill">
            <mat-label>{{addType}} Description</mat-label>
            <textarea matInput type="text" [formControl]="Description" placeholder="My {{addType}} Description..."
                rows="10" cols="50" maxlength="500"></textarea>
            <mat-error *ngIf="Description?.hasError('required')">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>

        <div style="display: flex;flex-direction: row; justify-content: space-between;">
            <button (click)="goToStakeholderObjective()" mat-button>Cancel</button>
            <button class="submit-button" mat-raised-button type="submit" color="primary">Create {{addType}}</button>

        </div>

    </form>
</div>