<div *ngIf="isLoading" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div id="Header">
    <h3 style="width: 50%;">StackHolder Specification Tool</h3>
    <h2 style="text-align: center;">Forgot Password</h2>   
</div>
<div id="body" fxLayout="column" fxLayoutAlign="center" style="overflow: auto;height: 100%;">
    <mat-error [hidden]="!Error" style="font-size: 13px;">
        <h4><span>{{Error?.error?.error}}</span></h4>
        <br>
    </mat-error>
    <br>
    <div style="width: 80%; align-items: center; flex-direction: column; display: flex; font-size: 14px;">
        
        <h4>Please do not close your window until you finish up changing password.</h4>
        <br>
        <h4>Otherwise You have to restart the process Again</h4>
        <br>
        
    </div>
    <mat-vertical-stepper>
        <mat-step label="Enter Your Email Address">
            <br><p>Enter Your Email Address</p><br>
            <form class="form" (ngSubmit)="forgot()">
                <mat-form-field class="control" appearance="fill">
                <input matInput type="text" [formControl]="emailformControl" placeholder="Your Email">
                <mat-error *ngIf="emailformControl.hasError('required')">
                    Email Address is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="emailformControl.hasError('pattern')">
                    Invalid Email Address <br>
                </mat-error>
            </mat-form-field>
            <div class="control-bar">
                <button routerLink="/signin" mat-raised-button>Back</button>
                <button class="submit-button" mat-raised-button matStepperNext type="submit" color="primary">Next</button>
            </div>
            </form>
            
            
        </mat-step>
        <mat-step label="Enter Your New Password">
            <br>
            <strong><p style="font-size: 13px;">Your Current Password has been sent to your email address</p></strong>
            <br>
            <form class="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="control" appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password" [formControl]="currentPasswordFormControl" placeholder="Your Passord" [readonly]="disable">
                    <mat-error *ngIf="currentPasswordFormControl.hasError('required')">
                        Current Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="control" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" [formControl]="newPasswordFormControl" placeholder="Your Passord" [readonly]="disable">
                    <mat-error *ngIf="newPasswordFormControl.hasError('required')">
                        New Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="newPasswordFormControl.hasError('pattern')">
                        Minimum eight characters, At least one uppercase letter, At least one lowercase letter, At least one number, At least one special character <br>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="control" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" [formControl]="confirmPasswordFormControl" placeholder="Your Passord" [readonly]="disable">
                    <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                        Confirm Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="confirmPasswordFormControl.hasError('pattern')">
                        Minimum eight characters, At least one uppercase letter, At least one lowercase letter, At least one number, At least one special character <br>
                    </mat-error>
                    <mat-error *ngIf="confirmPasswordFormControl.hasError('PasswordMismatch')">
                        Password Mismatch
                    </mat-error>
                </mat-form-field>
                <br>
                <div class="control-bar">
                    <button routerLink="/signin" mat-raised-button>Cancel</button>
                    <button class="submit-button" mat-raised-button type="submit" color="primary">Change</button>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</div>