<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
  </div>
  <div id="Header">
    <h3 style="width: 50%;">StackHolder Specification Tool</h3>
    <h2 style="text-align: center;">Sign In</h2>   
  </div>
  <div id="body">
    <mat-error *ngIf="Error">
      <span>{{Error.error.text}}</span>
      <br>
      <br>
    </mat-error>
      <form [formGroup]="loginFormControl" class="form" (ngSubmit)="onSubmit()">
          
        <mat-form-field class="control" appearance="fill">
            <!-- <mat-label>Email/User Name</mat-label> -->
            <input matInput type="text" [formControl]="usernameFormControl" placeholder="Email/UserName" name="usernameFormControl">
            <mat-error *ngIf="usernameFormControl?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="control" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" [formControl]="passwordFormControl" placeholder="Your Password" name="passwordFormControl">
              <mat-error *ngIf="passwordFormControl?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <br>
          <span style="text-align: center;">
            <p>Don't have account yet? <a [routerLink]="['/signup']">Sign Up</a>
              <br>
              <br>
              <a [routerLink]="['/forgotpassword']">Forgot Password</a></p>  
          </span>
          <br>
          <br>
          <button class="submit-button" mat-raised-button type="submit" color="primary">Sign In</button>
      </form>
  </div>
  