<div *ngIf="isLoading" class="loader">
<mat-spinner></mat-spinner>
</div>
<div id="Header">
  <h5 style="width: 50%;"><strong>StackHolder Specification Tool</strong></h5>
  <h3 style="text-align: center;"><strong>Sign In</strong></h3>   
</div>
<div id="body">
  <mat-card>
  <mat-error *ngIf="Error">
    <span>{{Error.error.text}}</span><br><br>
  </mat-error>
    <form [formGroup]="loginFormControl" (ngSubmit)="onSubmit()">
      <mat-form-field class="control" appearance="fill">
          <input matInput type="text" [formControl]="usernameFormControl" placeholder="Email/UserName" name="usernameFormControl">
          <mat-icon matSuffix mat-icon-button style="font-size: 22px;">email</mat-icon>
          <mat-error *ngIf="usernameFormControl?.hasError('required')">
            Email/Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="control" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="{{passwordType}}" [formControl]="passwordFormControl" placeholder="Your Password" name="passwordFormControl">
            <mat-icon matSuffix mat-icon-button style="font-size: 22px;" (click)="changeVisible()">visibility</mat-icon>
          <mat-error *ngIf="passwordFormControl?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="text-center mt-2">
          <button class="btn btn-primary btn-block btn-sm"  type="submit" >Sign In</button>
        </div>
        <span style="text-align: center;" class="mt-2">
          <p>Don't have account yet? <a [routerLink]="['/signup']">Sign Up</a>
          </p>  
        </span>
        <span style="text-align: center;">
            <a [routerLink]="['/forgotpassword']" class="mt-2">Forgot Password</a>
        </span>
    </form>
  </mat-card>
</div>

