<div style="width: 600px;height: 300px; position: relative; font-size: 14px;">

    <h3>Priority Details</h3>
    <br>
    <div
        style="width: 100%;display: flex;flex-direction: column; justify-content: space-between;align-items: flex-start;">
        
        <br>
        <div
            style="height: 30%;display: flex; flex-direction: row;justify-content: space-between;align-items: flex-start;width: 100%">
            <div style="align-items: flex-start;display: flex;flex-direction: column;">
                <p style="font-size: 12px; color: gray;margin-bottom: 10px;">Objective Name</p>

                <h4>{{setInfo.objectiveName}}</h4>
            </div>
        </div>
        <br>

        <div
            style="height: 30%;display: flex; flex-direction: row;justify-content: space-between;align-items: flex-start;width: 100%">
            <div style="align-items: flex-start;display: flex;flex-direction: column;">
                <p style="font-size: 12px; color: gray;margin-bottom: 10px;">Objective Priority</p>

                <h4>{{setInfo.priority}}</h4>
            </div>
        </div>
        <br>
        <br>
    </div>
    <br>
    <div style="position: absolute; bottom: 0px;">
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>

    </div>
</div>