<app-initial-header></app-initial-header>
<div *ngIf="isLoading" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div id="body" fxLayout="column" fxLayoutAlign="center" >
    <div class="title">
        <span>
            <p style="margin-left: 20%;margin-right: 20%;">Software succeeds when it satisfies the objectives of its stakeholders. Therefore, stakeholders are the
                bedrock on which successful software is built. Identifying, understanding, and documenting
                stakeholders and their objectives is the critical first step in building successful software. When analysts
                understand who stakeholders are and what they want, they will define better requirements that will
                result in a better design that will result in secure, reliable, and maintainable software that satisfies
                stakeholders’ objectives.
            </p>
            <br>
            <p style="margin-left: 20%;margin-right: 20%;">
            Stakeholder specification tool (SST) makes it faster and easier for analysts to identify, understand, and
            document who stakeholders are and what they want with increased accuracy, consistency, and
            completeness.     
            </p>
            <br>
            <h4>Please join us (Sign Up) or Sign In to get started</h4>
        </span>
        </div>
    <div class="buttons">
        <button routerLink="/signup" mat-raised-button color="primary">Sign Up</button>
        <button routerLink="/signin" mat-raised-button color="primary">Sign In</button>
    </div>
</div>
