<div *ngIf="isLoading" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div id="Header">
    <h3 style="width: 50%;">StackHolder Specification Tool</h3>
    <h2 style="text-align: center;">Update Password</h2>   
  </div>
<div id="body">
    <mat-error *ngIf="Error">
        <span>{{Error?.error?.error}}</span>
        <br>
        <br>
    </mat-error>
    <form class="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="control" appearance="fill">
            <mat-label>Current Password</mat-label>
            <input matInput type="{{passwordCurrent}}" [formControl]="currentPasswordFormControl" placeholder="Your Passord">
            <mat-icon matSuffix mat-icon-button style="font-size: 22px;" (click)="changeCurrentVisible()">visibility</mat-icon>
            <mat-error *ngIf="currentPasswordFormControl.hasError('required')">
                Current Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="control" appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput type="{{passwordNew}}" [formControl]="newPasswordFormControl" placeholder="Your Passord" (ngModelChange)="checkCurrentNew()">
            <mat-icon matSuffix mat-icon-button style="font-size: 22px;" (click)="changeNewVisible()">visibility</mat-icon>
            <mat-error *ngIf="newPasswordFormControl.hasError('required')">
                New Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="newPasswordFormControl.hasError('pattern')">
                Minimum eight characters, At least one uppercase letter, At least one lowercase letter, At least one number, At least one special character <br>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="control" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="{{passwordConfirm}}" [formControl]="confirmPasswordFormControl" placeholder="Your Passord">
            <mat-icon matSuffix mat-icon-button style="font-size: 22px;" (click)="changeConfirmVisible()">visibility</mat-icon>
            <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                Confirm Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="confirmPasswordFormControl.hasError('pattern')">
                Minimum eight characters, At least one uppercase letter, At least one lowercase letter, At least one number, At least one special character <br>
            </mat-error>
            <mat-error *ngIf="confirmPasswordFormControl.hasError('PasswordMismatch')">
                Password Mismatch
            </mat-error>
        </mat-form-field>
        <br>
        <div class="control-bar">
            <button (click)="goToMain()" mat-raised-button>Cancel</button>
            <button class="submit-button" mat-raised-button type="submit" color="primary">Change</button>
        </div>
    </form>
</div>